
services:
  server:
    build: .
    ports:
      - "8085:8085"
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=https://eureka-server-eureka-server-latest.onrender.com/eureka
      - EUREKA_CLIENT_REGISTER_WITH_EUREKA=true
      - EUREKA_CLIENT_FETCH_REGISTRY=true
      - EUREKA_INSTANCE_PREFER_IP_ADDRESS=true
      # Si usas discovery locator:
      - SPRING_CLOUD_GATEWAY_DISCOVERY_LOCATOR_ENABLED=true

