version: "3.9"

services:
  eureka-server:
    container_name: eureka-server
    build:
      context: .
    ports:
      - "8761:8761"
    networks:
      - workspace-net

networks:
  workspace-net:
    driver: bridge
