server:
  port: 8085
  forward-headers-strategy: framework

spring:
  application:
    name: api-gateway
  cloud:
    loadbalancer:
      ribbon:
        enabled: false
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:

        - id: auth-service
          uri: lb://CLIENT-APP
          predicates:
            - Path=/auth/**
          filters:
            - StripPrefix=1

        - id: parameters-microservice
          uri: lb://PARAMETERS-SERVICE
          predicates:
            - Path=/api/v1/parameters/**

        - id: uco-challenge
          uri: lb://UCOCHALLENGE
          predicates:
            - Path=/uco-challenge/api/v1/users/**

        - id: message-service
          uri: lb://MESSAGE-SERVICE
          predicates:
            - Path=/api/v1/messages/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${random.uuid}

management:
  tracing:
    sampling:
      probability: 1.0   # 100% en dev
  otlp:
    tracing:
      endpoint: http://localhost:4318/v1/traces
      protocol: http/protobuf
  endpoints:
    web:
      exposure:
        include: health,info,gateway,prometheus
  endpoint:
    gateway:
      access: read-only
    health:
      show-details: always

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    reactor.netty: INFO
  pattern:
    level: "%5p [traceId=%X{traceId:-}, spanId=%X{spanId:-}]"
