server:
  port: 8085
  forward-headers-strategy: framework

spring:
  application:
    name: api-gateway

  # =========================
  # ✅ Seguridad y OAuth2
  # =========================
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: "https://dev-bwqfca2whog4a2tx.us.auth0.com/"

  # =========================
  # ✅ Configuración de rutas en el Gateway
  # =========================
  cloud:
    loadbalancer:
      ribbon:
        enabled: false
    gateway:
      metrics:
        enabled: true
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: auth-service
          uri: lb://CLIENT-APP
          predicates:
            - Path=/auth/**
          filters:
            - StripPrefix=1
        - id: parameters-microservice
          uri: lb://PARAMETERS-SERVICE
          predicates:
            - Path=/api/v1/parameters/**
        - id: uco-challenge
          uri: lb://UCOCHALLENGE
          predicates:
            - Path=/uco-challenge/api/v1/users/**
        - id: admin-users
          uri: lb://UCOCHALLENGE
          predicates:
            - Path=/api/admin/users/**
          filters:
            - StripPrefix=2
        - id: message-service
          uri: lb://MESSAGE-SERVICE
          predicates:
            - Path=/api/v1/messages/**

  # =========================
  # ✅ Configuración de Eureka
  # =========================
eureka:

  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${random.uuid}

  # =========================
  # ✅ Configuración de OAuth2 (Auth0)
  # =========================
auth0:
  audience: "https://uco-challenge-api"

  # =========================
  # ✅ Configuración de CORS
  # =========================
web:
  cors:
    allowed-origins: "http://localhost:5173"

  # =========================
  # ✅ Management + Tracing + Prometheus + OTLP
  # =========================
management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  metrics:
    tags:
      application: ${spring.application.name}   # <— CLAVE para el dropdown
    distribution:
      percentiles-histogram:
        http.server.requests: true
  # (opcional si quieres desactivar trazas para evitar 4318)
  #  tracing:
  #    enabled: false

  # =========================
  # ✅ Logging con TraceId y SpanId
  # =========================
  logging:
    level:
      org.springframework.cloud.gateway: DEBUG
      reactor.netty: INFO
    pattern:
      level: "%5p [traceId=%X{traceId:-}, spanId=%X{spanId:-}]"
