spring:
  application:
    name: message-service

server:
  port: ${SERVER_PORT:8082}

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER_URL:http://localhost:8761/eureka/}
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    instance-id: "${spring.application.name}:${spring.cloud.client.ip-address:${server.port}}:${server.port}"

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: always
  tracing:
    sampling:
      probability: 1.0
  otlp:
    tracing:
      endpoint: ${OTEL_EXPORTER_OTLP_ENDPOINT:http://localhost:4318/v1/traces}
      protocol: http/protobuf

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
  pattern:
    level: "%5p [traceId=%X{traceId:-}, spanId=%X{spanId:-}]"

azure:
  keyvault:
    enabled: ${AZURE_KEYVAULT_ENABLED:true}
    url: ${AZURE_KEYVAULT_URL:}
    secret:
      endpoint: ${AZURE_KEYVAULT_SECRET_ENDPOINT:${AZURE_KEYVAULT_URL:}}
    credential:
      managed-identity-enabled: ${AZURE_KEYVAULT_MANAGED_IDENTITY:true}

secrets:
  db-url: ${DB_URL:}
  db-username: ${DB_USERNAME:}
  db-password: ${DB_PASSWORD:}
