version: "3.8"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
      additional_contexts:
        obs: ../observability-confi
        msg: ../message-service
    ports:
      - "8081:8081"

    extra_hosts:
      - "host.docker.internal:host-gateway"

    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://host.docker.internal:5432/ucochallenge
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres

      AZURE_KEYVAULT_ENABLED: "true"
      AZURE_KEYVAULT_URL: "https://uco-vault-secrets.vault.azure.net/"
      AZURE_KEYVAULT_MANAGED_IDENTITY: "true"

      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://host.docker.internal:8761/eureka/
      MANAGEMENT_TRACING_ENABLED: "true"
      NOTIFICATION_TRACING_EXPORTER_OTLP_ENDPOINT: http://host.docker.internal:4318/v1/traces

    restart: on-failure


  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - ./config/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped


  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=adminadmin123
    restart: unless-stopped
